// DON'T EDIT THIS FILE

body .foo {
  background-color: red;
}

body .foo .bar {
  background-color: red;
}

.level-one {
  background-color: red;

  .level-two-a {
    background-color: red;

    .level-three-a {
      background-color: red;
    }

    .level-three-b {
      background-color: red;
    }
  }

  &>.level-two-b {
    background-color: red;
  }
}

.another {
  .nested {
    background-color: red;
  }
}
