@function test_function_a($color) {
  @return $color;
}

@function test_function_b($color, $one_more) {
  @return $color;
}

@function test_function_c() {
  @return "something";
}

@mixin test_mixin_a($color) {
  color: $color;
}

@mixin test_mixin_b($color, $one_more) {
  color: $color;
}

@mixin test_mixin_c() {
  color: $color;
}
@mixin test_mixin_d() {
  color: $color;
}

@mixin test_mixin_g() {
  color: $color;
}

@mixin test_mixin_g() {
  color: $color;
}

@include test_mixin_1(red);
@include test_mixin_a(red);
@include test_mixin_b(red);
@include test_mixin_c(red);
@include test_mixin_d(red);
@include test_mixin_e(red);
@include test_mixin_f(red);
@include test_mixin_g(red);
@include test_mixin_23(red);
@include test_mixin_g(red);
@include test_mixin_3(red);
@include test_mixin_3(red);
$test: test_function_1(red);
$test: test_function_2(red);
$test: test_function_5(red);
$test: test_function_4(red);
$test: test_function_4(red);
$test: test_function_6(red);
$test: test_function_7(red);
$test: test_function_8(red);
$test: test_function_10(red);
$test: test_function_11(red);
$test: test_function_12(red);
$test: test_function_13(red);
$test: test_function_14(red);
$test: test_function_27(red);
